*,
*:after,
*::before {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-decoration: none;
   list-style-type: none;
   outline: none;
}

body {
    font-family: 'Roboto', sans-serif;
}


header {
    z-index: 10;
    max-width: 71vmax;
    display: flex;
    margin: auto;
    margin-top: 0.5%;
    height: 15vmin;

}


.h_block_1 {
    height: 15.5vmin;
    width: 53.25vmax;
    border-style: ridge;
    border-top-left-radius: 4vmin;
    background: rgba(365,365,365,0.4);
}


.h_logo {
    max-height: 15vmin;
    float: left;
    margin-left: 2vmax; 
}


.h_name {
    max-width: 30vw;
    height: auto;
    transform: translateY(5vmin);
}


.h_block_2 {
    margin-left: 0.5vmax;
}


.sign_in_button{
    background: rgba(365,365,365,0.4);
    width: 17.25vmax;
    height: 7vmin;
    font-size: 3vmin;
    margin: auto;
    transition: 0.3s;
    border-color: white;
    border-style: ridge;
    transform: translateY(1.5vh);
}


.sign_up_button{
    background: rgba(365,365,365,0.4);
    width: 17.25vmax;
    height: 7vmin;
    font-size: 3vmin;
    margin: auto;
    transition: 0.3s;
    border-color: white;
    border-style: ridge;
    border-top-right-radius: 4vmin;

}

.adding_button:hover,
button:hover {
    border-color: #ED2553;
    color: #ED2553;
    transition: 0.3s;
    background: rgba(365,365,365,0.8);
}

.reg_form {
    max-width: 71%;
    background: rgba(365,365,365,0.4);
    margin: auto;
    margin-top: 3vmin;
    border-style: ridge;
    border-radius: 4vmin;
    height: 60%;
}


.reg_title {
    top: 2vh;
    right: -1vw;
    max-width: 100%;
    line-height: 100%;
    margin-top: 0.6vmin;
    font-size: 3vmax;
    font-weight: 700;
    letter-spacing: 0.3vmin;
    color: black;
    position: relative;
 }


.input,
.input label{
    -webkit-transition: 300ms cubic-bezier(.4, 0, .2, 1);
    -ms-transition: 300ms cubic-bezier(.4, 0, .2, 1);
    transition: 300ms cubic-bezier(.4, 0, .2, 1);

    display: flex;
    flex-direction: column;
    max-width: 30%;
    margin-left: 15%;
}

.input {
    margin-top: 6vmin;
    white-space: nowrap;
}


.input,
.input input {
   position: relative;
}

.input input {

    height: 6vmin;
    top: 1vmin;
    border: none;

    background: transparent;
}

.log input {
    width: 100%
}

.reg input {
    width: 400%;
}

.input input,
.input label {

    font-size: 2.4vh;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.8);
}

.r_st {
    float: left;
    margin-left: 10vw;
}

.input::before,
.input .spin {
    -webkit-transition: 300ms cubic-bezier(.4, 0, .2, 1);
    -ms-transition: 300ms cubic-bezier(.4, 0, .2, 1);
    transition: 300ms cubic-bezier(.4, 0, .2, 1);
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.reg::before,
.reg .spin {
    width: 400%;
}

.log::before,
.log .spin {
    width: 100%;
}

.input:before {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    z-index: 3;
 }

 .input .spin {
    background: #ED2553;
    z-index: 4;
    width: 0;
 }

 .input label {
    position: absolute;
    top: 1vh;
    left: 0;
    z-index: 2;
    cursor: pointer;
    line-height: 6vh;
 }

 .site_navigation {
    margin:auto;
    width: 71vmax;
    position: sticky;
    display: flex;
 }


.news_page,
.history_page,
.events_page,
.players_page{
    background: rgba(365,365,365,0.4);
    width: 17.75vmax;
    height: 5vmin;
    font-size: 3vmin;
    transition: 0.3s;
    border-color: white;
    border-style: ridge;
    transform: translateY(1.5vh);
}


.Events .players_page,
.News .players_page,
.Players .players_page {
    pointer-events: none;
    background: rgba(365,365,365,0.8);
}

.news_page {
    border-bottom-left-radius: 4vmin;
}

.players_page {
    width: 17.25vmax;
    margin-left: 0.5vmax;
    border-bottom-right-radius: 4vmin;
}


.log_button,
.reg_button {
    background: transparent;
    position: relative;
    width: 20vmax;
    height: 10vmin;
    font-size: 3vmin;
}

.log_button {
    transform: translate(11vw, 5vh);
}
.success,
.alert {

    margin-left: 5vw;
    margin-bottom: 2vh;
    font-size: 3vmin;
    text-align: center;
    max-width: 40%;
}

.alert {
    color: red;

}

.success {
    color: green;
}

.reg_b {
    position: fixed;
    transform: translateY(30vmin);
}

.players_table {

    max-width: 71vmax;
    width: 71vmax;
    margin: auto;
    margin-top: 3vh;
    border: none;
    border-style: ridge;
    border-radius: 4vmin;
    background: rgba(365,365,365,0.4);
}

.players_table td,
.players_table th {
    text-align: center;
    font-size: 3vmin;
}

.players_table th {
    cursor: pointer;
}

.add_button {
    background: rgba(365,365,365,0.4);
    border-style: ridge;
    font-size: 3vmin;
    width: 25vh;
    border-radius: 5vmin;
    text-align: center;
}

th.sorted[data-order="-1"]::after {
	content: "▼"
}

th.sorted[data-order="1"]::after {
	content: "▲"
}


.table_name {
    font-size: 3vh;
    color: rgba(365,365,365,0.8);
}


.add_mate input {
    width: 250%
}

.add_mate::before,
.add_mate .spin {
    width: 250%;
}

.redact_button,
.adding_button {
    background: rgba(365,365,365,0.4);
    width: 17.75vmax;
    height: 5vmin;
    font-size: 3vmin;
    transition: 0.3s;
    border-color: white;
    border-style: ridge;
    border-radius: 4vmin;
}


.b_red {
    background: transparent;
    width: 30;
    border: none;
    
}

.b_red:hover {
    width: 35px;
    background: transparent;
}

.image_404 {
    margin-left: 22.5%;
    height: 70vmin;
}