*,
*:after,
*::before {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-decoration: none;
   list-style-type: none;
   outline: none;
}


header {
    max-width: 71vmax;
    min-width: 1190px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5%;
    margin-left: 14.5vmax;
    height: 15vmin;

}


.h_block_1 {
    width: 53.25vmax;
    border-style: ridge;
    border-top-left-radius: 4vmin;
    background: rgba(365,365,365,0.4);
}


.h_logo {
    height: 15vmin;
    float: left;
    margin-left: 2vmax; 
}


.h_name {
    width: 35vw;
    transform: translateY(4vmin);
}


.h_block_2 {
    display: flex;
    flex-direction: column;
    margin-left: 0.5vmax;
}


.sign_in_button{
    background: rgba(365,365,365,0.4);;
    font-family: 'Roboto', sans-serif;
    width: 17.25vmax;
    height: 7vmin;
    font-size: 3vmin;
    margin: auto;
    transition: 0.3s;
    border-color: white;
    border-style: ridge;
    transform: translateY(1.5vh);
}


.sign_up_button{
    background: rgba(365,365,365,0.4);;
    font-family: 'Roboto', sans-serif;
    width: 17.25vmax;
    height: 7vmin;
    font-size: 3vmin;
    margin: auto;
    transition: 0.3s;
    border-color: white;
    border-style: ridge;
    border-top-right-radius: 4vmin;

}

button:hover {
    border-color: #ED2553;
    color: #ED2553;
    transition: 0.3s;
    background: rgba(365,365,365,0.8);;
}

.reg_form {
    max-width: 71%;
    background: rgba(365,365,365,0.4);
    margin-top: 5vmin;
    margin-left: 14.5vmax;
    border-style: ridge;
    border-radius: 4vmin;
    min-height: 60vmin;
}


.reg_title {
    top: 2vh;
    right: -1vw;
    width: 100%;
    line-height: 100%;
    margin-top: 0.6vmin;
    font-size: 3vmax;
    font-weight: 700;
    letter-spacing: 0.3vmin;
    color: black;
    position: relative;
 }


.input,
.input label{
    -webkit-transition: 300ms cubic-bezier(.4, 0, .2, 1);
    -ms-transition: 300ms cubic-bezier(.4, 0, .2, 1);
    transition: 300ms cubic-bezier(.4, 0, .2, 1);

    display: flex;
    flex-direction: column;
    max-width: 30%;
    margin-left: 15%;
}

.input {
    margin-top: 6vmin;
    white-space: nowrap;
}


.input,
.input input {
   position: relative;
}

.input input {

    height: 6vmin;
    top: 1vmin;
    border: none;

    background: transparent;
}

.log input {
    width: 100%
}

.reg input {
    width: 400%;
}

.input input,
.input label {
    font-family: 'Roboto', sans-serif;
    font-size: 2.4vh;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.8);
}

.r_st {
    float: left;
    margin-left: 10vw;
}

.input::before,
.input .spin {
    -webkit-transition: 300ms cubic-bezier(.4, 0, .2, 1);
    -ms-transition: 300ms cubic-bezier(.4, 0, .2, 1);
    transition: 300ms cubic-bezier(.4, 0, .2, 1);
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.reg::before,
.reg .spin {
    width: 400%;
}

.log::before,
.log .spin {
    width: 100%;
}

.input:before {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    z-index: 3;
 }

 .input .spin {
    background: #ED2553;
    z-index: 4;
    width: 0;
 }

 .input label {
    position: absolute;
    top: 1vh;
    left: 0;
    z-index: 2;
    cursor: pointer;
    line-height: 6vh;
 }

 .site_navigation {
    display: flex;
 }


.news_page,
.history_page,
.events_page,
.players_page{
    background: rgba(365,365,365,0.4);;
    font-family: 'Roboto', sans-serif;
    width: 17.75vmax;
    height: 5vmin;
    font-size: 3vmin;
    transition: 0.3s;
    border-color: white;
    border-style: ridge;
    transform: translateY(1.5vh);
}

.news_page {
    margin-left: 14.5vmax;
    border-bottom-left-radius: 4vmin;
}

.events_page {
    width: 17.25vmax;
    margin-left: 0.5vmax;
    border-bottom-right-radius: 4vmin;
}
.log_button,
.reg_button {
    background: transparent;
    font-family: 'Roboto', sans-serif;
    position: relative;
    width: 20vmax;
    height: 10vmin;
    font-size: 3vmin;
}

.log_button {
    transform: translate(11vw, 5vh);
}
.success,
.alert {
    font-family: 'Roboto', sans-serif;
    margin-left: 5vw;
    margin-bottom: 2vh;
    font-size: 3vmin;
    text-align: center;
    max-width: 40%;
}

.alert {
    color: red;

}

.success {
    color: green;
}

.reg_button {
    transform: translate(-25vw, 30vh);
}